<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path="src"/>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry kind="lib" path="libs/guava/guava-r09.jar" sourcepath="libs/guava/guava-src-r09.zip"/>
	<classpathentry kind="lib" path="libs/guava/guava-r09-gwt.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-swing.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/xerces_2_5_0.jar"/>
	<classpathentry kind="lib" path="libs/batik/xml-apis-ext.jar"/>
	<classpathentry kind="lib" path="libs/batik/xml-apis.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-gvt.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-xml.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-anim.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-awt-util.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-bridge.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-codec.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-css.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-dom.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-ext.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-extension.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-gui-util.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-parser.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-script.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-svg-dom.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-svggen.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-transcoder.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/batik-util.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/js.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="lib" path="libs/batik/pdf-transcoder.jar" sourcepath="libs/batik/batik-src.jar"/>
	<classpathentry kind="output" path="bin"/>
</classpath>
